.body {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.main {
    background-position: '96px 0, 96px 0, 0 0, 0 0';
    background-size: '96px 96px';
    background-repeat: 'repeat';
    min-height: '100vh';
}

.pageContent {
    opacity: 0%;

    animation-name: parallax-transition;
    animation-duration: 0.25s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.parallaxContainer {
    opacity: 0%;

    animation-name: parallax-transition;
    animation-duration: 0.25s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.parallax {
    width: 100%;
    height: 400px;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.light {
    background-color: rgba(255,255,255,0.25);
    background-blend-mode: lighten;
}

.dark {
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}

.navLink {
    &:hover {
        opacity: 0.8;
    }
}

.logoLarge {
    position: relative;
    transform: scale(200%);
    top: 50px;
    transition: 0.15s;
}

.logoSmall {
    position: relative;
    transform: scale(100%);
    top: 0px;
    transition: 0.15s;
}

@media only screen and (min-width: 992px) {
    .parallax {
        height: 500px;
        background-attachment: fixed;
        background-size: cover;
        align-items: center;
    }
}

@keyframes parallax-transition {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}