.main {
    background-position: '96px 0, 96px 0, 0 0, 0 0';
    background-size: '96px 96px';
    background-repeat: 'repeat';
    min-height: '100vh';
}

.parallax {
    width: 100%;
    height: 400px;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.65;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 992px) {
    .parallax {
        height: 500px;
        background-attachment: fixed;
        background-size: cover;
        align-items: center;
    }
}